body { /* to ensure that there are no white borders around web page */
    margin: 0;
    padding: 0;
    background-color:black;
}

#title{/*Title*/
	margin: 0;
	margin-left:2%;
	color:#00CED1;
	font-size:460%;
	font-family:chalkboard;
	font-weight: bold;
	text-shadow:
	}

#background{/*background div set to overlay the first and last panels for the scrolling*/
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: 9;
	margin-top: 0px;
	background:url("../images/homepage2.jpg") no-repeat center center;
	background-size: 85%;
}

#subtitle{/*scars*/
	font-size:20px;
	color:#b1b1b1;
	margin-top:19%;
	margin-left:22%;
	margin-bottom:1px;
	font-family:lao sangam mn;
	background-position:fixed;
}
#poem{/*poem*/
	height:300px;
	width:300px;
	font-size:15px;
	margin-top:0%;
	margin-left:13%;
	color:#b1b1b1;
	margin-bottom:0%;
	font-family:lao sangam mn;
	line-height:110%;
	background-position:fixed;
}
.author{/*author*/
	font-size:14px;
	margin-top:-5%;
	margin-left:24%;
	color:#b1b1b1;
	margin-bottom:5px;
	font-family:lao sangam mn;
	background-position:fixed;	
}

.panel_left{ /* defines dimension of left half of the screen */
    margin:0;
    padding:0;
    position: fixed;
    bottom: 0;
    left:0;
    width: 50%;
}

.panel_right { /* defines dimension of right half of the screen */
	margin:0;
	padding:0;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
}

.panel { /* defines dimension of each individual panel */
    width: 100%;
    height:100%;
}


/* start of colors of each panel */
#pane-1_L{ 
	background-color:black;

}
 
#pane-2_L {
  	background:url("../images/blackwood2.jpg") no-repeat center center;
  	background-size:cover;
}

#magda{
 	padding-top:15%;
 	margin-left:15%;
 	-webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);

}

#pane-3_L {
	background:url("../images/hydrangas2.jpg") no-repeat center center;
    background-size:cover;
}

#rob_text{
	color:black;
	font-family:lao sangam mn;
	font-size:16px;
	padding-left:15%;
	padding-top:22%;
	padding-right:15%;
	padding-bottom:15%;
	text-indent: 30px;
	line-height: 150%;
	position:absolute;
}

.robBackground{
		background: rgba(255, 250, 240, 0.7);
		padding:1%;
}



#pane-4_L{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
    
}
#Lindsay{
	padding-top:15%;
	padding-left:-150px;
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#pane-5_L{
	background:url("../images/pinkWall2.jpg") no-repeat center center;
    background-size:cover;
  
}
#Will_text{
	height:400px;
	width:500px;
	padding-top:15%;
	padding-left:5%;
	text-indent: 30px;
	font-family:lao sangam mn;
	font-size:15px;
}
.willBackground{
	background: rgba(255, 250, 240, 0.7);
	padding:2%;
}

#pane-6_L{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
  
}
#mom{
	padding-top:15%;
	padding-left:14%;
	-webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

#pane-7_L{
	background:url("../images/dandelion.jpg") no-repeat center center;
    background-size:cover;
}
#sarahCasper_text{
	font-family:lao sangam mn;
	font-size:18px;
	height:400px;
	width:400px;
	padding-top:20%;
	padding-left:15%;
	text-indent: 30px;

}
.sarahCasperBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;

}
#pane-8_L{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#shoumith{
	padding-top:30%;
	padding-left:5%;
	-webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

#pane-9_L{
	background:url("../images/pinkMangolias_blur.jpg") no-repeat center center;
    background-size:cover;
}
#paul_text{
	height:400px;
	width:500px;
	padding-top:23%;
	padding-left:8%;
	text-indent: 30px;
	font-family:lao sangam mn;
}
.paulBackground{
	background: rgba(255, 250, 240, 0.7);
	padding:2%;
}
#pane-10_L{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#mara{
	padding-top:10%;
	padding-left:12%;
	-webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

#pane-11_L{
	background:url("../images/pink_door2.jpg") no-repeat center center;
    background-size:cover;
}
#erin_text{
	height:400px;
	width:500px;
	padding-top:25%;
	padding-left:12%;
	text-indent: 30px;
	font-family:lao sangam mn;
	position:absolute;

}
.erinBackground{
	background: rgba(255, 250, 240, 0.7);
	padding:2%;
	
}
#pane-12_L{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#roxie{
	padding-top:10%;
	padding-left:5%;
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);

}
#pane-13_L{
	background:url("../images/pink_building2.jpg") no-repeat center center;
    background-size:cover;
}
#andy_text{
	height:400px;
	width:500px;
	padding-top:15%;
	padding-left:9%;
	text-indent: 30px;
	font-family:lao sangam mn;
	position:fixed;
}

.andyBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;
}
#pane-14_L{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#sarahAckerman{
	padding-left:5%;
	z-index: 999;
	-webkit-transform: rotate(-0.5deg);
    -moz-transform: rotate(-0.5deg);
    -o-transform: rotate(-0.5deg);
    -ms-transform: rotate(-0.5deg);
    transform: rotate(-0.5deg);

}
#pane-15_L{
	background:url("../images/rose2.jpg") no-repeat center center;
    background-size:cover;

}
#zach_text{
	height:400px;
	width:500px;
	padding-top:15%;
	padding-left:5%;
	text-indent: 30px;
	font-family:lao sangam mn;
	position:fixed;
}

.zachBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;
}

#pane-16_L{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#pane-17_L{
	background:url("../images/pinkBike.jpg") no-repeat center center;
    background-size:cover;
}
#katie_text{
	height:400px;
	width:500px;
	padding-top:15%;
	padding-left:5%;
	text-indent: 30px;
	font-family:lao sangam mn;
}

.katieBackground{
	background: rgba(255, 250, 240, 0.7);
	padding:3%;

}

#pane-18_L{
	height:100px;
}

/* start of colors of each panel */
#pane-1_R{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
  
}

#Will{
	padding-top:10%;
	padding-left:15%;
	-webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);

}

#pane-2_R {
	background:url("../images/seafoam4.jpg") no-repeat center center;
    background-size:cover;

}
#Lindsay_text{
	height:400px;
	width:500px;
	padding-top:4%;
	padding-right:5%;
	padding-left:15%;
	text-indent:30px;
	font-family:lao sangam mn;
	font-size:16px;
	position:absolute;
}
.lindsayBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;
}

#pane-3_R {
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}

#rob{
	padding-top:15%;
	padding-left:1%;
	position:relative;
}

#pane-4_R{
	background:url("../images/seafoam1.jpg") no-repeat center center;
    background-size:cover;

}
#magda_text{
	height:400px;
	width:500px;
	padding-top:25%;
	padding-left:10%;
	text-indent: 30px;
	font-family:lao sangam mn;
	line-height:140%
}

.magdaBackground{background: rgba(255, 250, 240, 0.6);
	padding:2%;
}

#pane-5_R{
	margin-top:0;
	padding:0;
    background-color:black;
}

#pane-6_R{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}

#katie{
	padding-top:10%;
	padding-left:5%;
	-webkit-transform: rotate(-11deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

#pane-7_R{
	background:url("../images/seafoamWaves.jpg") no-repeat center center;
    background-size:cover;
}
#kevin_text{
	height:400px;
	width:500px;
	padding-top:15%;
	padding-left:10%;
	text-indent: 30px;
	font-family:lao sangam mn;
}
.kevinBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;

}

#pane-8_R{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#zach{
	padding-top:15%;
	padding-left:13%;
	-webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}

#pane-9_R{
	background:url("../images/seafoamBottles2.jpg") no-repeat center center;
    background-size:cover;
}
#sarahAckerman_text{
	height:400px;
	width:500px;
	padding-top:15%;
	padding-left:13%;
	text-indent: 30px;
	font-family:lao sangam mn;
	line-height:110%
}
.sarahAckermanBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;
}
#pane-10_R{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#andy{
	padding-top:15%;
	padding-left:3%;
	-webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);

}
#pane-11_R{
	background:url("../images/spiralStairCase2.jpg") no-repeat center center;
    background-size:cover;
}
#roxie_text{
	height:400px;
	width:500px;
	padding-top:15%;
	padding-left:13%;
	text-indent: 30px;
	font-family:lao sangam mn;

}
.roxieBackground{
	background: rgba(255, 250, 240, 0.7);
	padding:2%;

}
#pane-12_R{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#erin{
	padding-top:10%;
	padding-left:3%;
	-webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);

}
#pane-13_R{
	background:url("../images/meadow2.jpg") no-repeat center center;
    background-size:cover;
}
#mara_text{
	height:400px;
	width:500px;
	padding-top:15%;
	padding-left:12%;
	text-indent: 30px;
	font-family:lao sangam mn;
}

.maraBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;

}

#pane-14_R{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}

#paul{
	padding-top:10%;
	padding-left:3%;
	-webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}
#pane-15_R{
	background:url("../images/beachFLamingo2.jpg") no-repeat center center;
    background-size:cover;
}
#shoumith_text{
	height:400px;
	width:500px;
	padding-top:7%;
	padding-left:10%;
	text-indent: 30px;
	font-family:lao sangam mn;


}
.shoumithBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;
}

#pane-16_R{
	background:url("../images/blackwood2.jpg") no-repeat center center;
    background-size:cover;
}
#sarahCasper{
	padding-top:10%;
	padding-left:40%;
	-webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);

}
#pane-17_R{
	background:url("../images/seafoamRollercoaster2.jpg") no-repeat center center;
    background-size:cover;
}
#mom_text{
	color:black;
	font-family:lao sangam mn;
	font-size:15px;
	padding-left:15%;
	padding-top:15%;
	padding-right:15%;
	padding-bottom:15%;
	text-indent: 30px;
}
.momBackground{
	background: rgba(255, 250, 240, 0.6);
	padding:2%;
}
#endnote{
	height:100px;
	background-color:yellow;
}
/* end of colors of each left panel */

